[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pyaml = "*"
requests = "*"
django-cors-headers = "*"
Django = "<4.1.0,>=4.0.0"

[dev-packages]

[requires]
python_version = "3.9"
